[submodule "cores/core_soc"]
	path = cores/core_soc
	url = https://github.com/ultraembedded/core_soc.git
[submodule "cores/dbg_bridge"]
	path = cores/dbg_bridge
	url = https://github.com/ultraembedded/core_dbg_bridge.git
[submodule "pano"]
	path = pano
	url = https://github.com/skiphansen/pano_blocks
[submodule "cores/cpu/riscv"]
	path = cores/cpu/riscv
	url = https://github.com/ultraembedded/riscv
[submodule "cores/core_ulpi_wrapper"]
	path = cores/core_ulpi_wrapper
	url = https://github.com/ultraembedded/core_ulpi_wrapper.git
